body{
	background-color: hsl(36, 100%, 99%);
	font-family: arial;
}

.menu{
	margin: 5% 5% 0 5%;
	display: flex;
	align-items: center;
}

.menu img{
	margin: 10px;
	margin-right: auto;
}

.menu button{
	margin-right: 10px;
	border: none;
	background-color: transparent;
	font-size: 15px;
}

.menu button:hover{
	color: hsl(35, 77%, 62%);
}

.main{
	padding: 5%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 5%;
}

.mainOne{
	grid-column: span 2;
	grid-gap: 2%;
	display: grid;
	grid-template-columns: auto auto;
	text-align: left;
}

.mainOne img{
	width: 100%;
	grid-column: span 2;
}

.mainOne h1{
	font-weight: 900;
	font-size: 50px;
	margin-bottom: 0;
	margin-top: 0;
}

.mainOne button{
	border: none;
	background-color: hsl(5, 85%, 63%);
	color: white;
	width: 50%;
	height: 50px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.mainOne button:hover{
	background-color: black;
}

.mainTwo{
	background-color: hsl(240, 100%, 5%);
	color: white;
	display: flex;
	flex-direction: column;
}

.mainTwo h1{
	color: hsl(35, 77%, 62%);
	font-size: 50px;
}

.mainTwo h3:hover{
	color: hsl(35, 77%, 62%);
}

.twoItem{
	margin: 5% 10% 0 10%;
}

.mainTwo div{
	border-bottom-style: solid;
	border-width: 1px;
	padding-bottom: 10%;
}

.mainThree{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 15% 15% 15%;
	grid-column-gap: 3%;
}

.mainThree h1{
	margin-top: 0;
	color: hsl(233, 8%, 79%);
}

.mainThree h4{
	font-weight: 900;
}

.mainThree h4:hover{
	color: hsl(5, 85%, 63%);
}

.mainThree img{
	grid-row: span 3;
	height: 120%;
}

@media (max-width: 500px)
{
	.main{
		display: flex;
		flex-direction: column;
	}
	
	.mainOne{
		display: flex;
		flex-direction: column;
	}
}