body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("images/bg-header-desktop.png");
	background-repeat: no-repeat;
	background-size: 100%;
	color: hsl(210, 10%, 33%);
}

p{
	color: hsl(201, 11%, 66%);
}

.logoImg{
	width: 100px;
	margin-top: 100px;
}

.section1{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2% 25% 5% 25%;
	text-align: center;
}

.section1 button{
	border-radius: 50px;
	border-style: none;
	width: 200px;
	height: 40px;
	color: white;
	margin: 5px;
}

.section1 div{
	display: flex;
	padding-top: 5%;
	padding-bottom: 10%;
}

.iosbtn{
	background-color: hsl(171, 66%, 44%);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, hsl(171, 66%, 44%) 0px 7px 13px -10px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.macbtn{
	background-color: hsl(233, 100%, 69%);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, hsl(233, 100%, 69%) 0px 7px 13px -10px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.section1 button:hover{
	opacity: 0.6;
}

.section2{
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 100px;
	margin: 0 15% 0 15%;
}

.section2 img{
	grid-row: span 3;
	height: 400px;
}

.section1 img{
	margin-top: 50px;
}

.section3{
	display: flex;
	margin: 0 15% 0 15%;
	justify-content: space-between;
}

.section3 div{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 25%;
}

.section3 img{
	height: 25px;
}

.section3 p{
	margin-top: -5px;
	line-height: 25px;
}

.section4{
	display: flex;
	flex-direction: row;
}

.section4 img{
	height: 35px;
	margin: 50px;
}

.footer{
	background-color: hsl(201, 11%, 95%);
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.links{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
	grid-gap: 15px 75px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.logoImgFooter{
	height: 50px;
	grid-row: span 2;
}

.links a{
	color: hsl(210, 10%, 33%);
}

.links a:hover{
	color: hsl(171, 66%, 44%);
}

.social img{
	margin: 0 10px;
	height: 25px;
}

.social img:hover{
	filter: brightness(0) saturate(100%) invert(59%) sepia(89%) saturate(366%) hue-rotate(122deg) brightness(88%) contrast(87%);
}

@media (max-width: 500px){
	.section1{
		margin: 2% 5% 5% 5%;
	}
	
	.section1 div{
		flex-direction: column;
	}
	
	.section2{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	.section2 img, .section1 img{
		width: 97%;
		height: 97%;
	}
	
	.section3{
		display: flex;
		flex-direction: column;
	}
	
	.section3 div{
		width: 97%;
	}
	
	.section4{
		flex-direction: column;
		align-items: center;
	}
	
	.section4 img{
		height: 70%;
		object-fit: contain;
	}
	
	.footer, .links{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.logoImgFooter{
		margin-bottom: 25px;
	}
	
	.links{
		height: 250px;
		justify-content: space-between;
	}
	
	.social{
		margin-bottom: 50px;
	}
}