body{
	background-color: hsl(210, 46%, 95%);
	/*width: 1440px;*/
}

img{
	border-radius: 50%;
}

span{
	font-weight:normal;
}

.container{
	margin: 5% 10% 5% 10%;
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 15px;
}

.item{
	border-radius: 15px;
	padding-left: 25px;
	padding-right: 25px;
}

.one{
	order: 0;
	background-color: hsl(263, 55%, 52%);
	color: white;
	grid-column: span 2;
}

.two{
	order: 1;
	background-color: hsl(217, 19%, 35%);
	color: white;
}

.three{
	order: 3;
	background-color: white;
	color: black;
}

.four{
	order: 4;
	background-color: hsl(219, 29%, 14%);
	color: white;
	grid-column: span 2;
}

.five{
	order: 2;
	background-color: white;
	color: black;
	grid-row: span 2;
}

#avatar img{
	float: left;
	margin-right: 15px;
}

#avatar h5{
	padding-top: 10px;
}

@media (max-width: 500px){
	.container{
		display: flex;
		flex-direction: column;
	}
}