body{
	background-color: hsl(210, 46%, 95%);
}

img{
	border-radius: 50%;
}

.container{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	width: 1440px;
	border-style: solid;
	border-width: 5px;
}

.item{
	border-radius: 15px;
	padding: 25px;
	margin: 15px;
}

.one{
	background-color: hsl(263, 55%, 52%);
	color: white;
	width: 40%;
	height: 50%;
}

.two{
	background-color: hsl(217, 19%, 35%);
	color: white;
	width: 20%;
	height: 50%;
}

.three{
	background-color: white;
	color: black;
	width: 20%;
	height: 50%;
}

.four{
	background-color: hsl(219, 29%, 14%);
	color: white;
	width: 40%;
	height: 50%;
}

.five{
	background-color: white;
	color: black;
	width: 20%;
	height: 100%;
}